<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	   	http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- 	
    <bean id="ticketAuthManager" class="com.jdoilfield.ws.ticketauthservice.business.TicketAuthManager">
		<property name="remoteTicketDao" ref="remoteTicketDao" />
		<property name="airportManager" ref="airportManager" />
		<property name="ticketDao" ref="ticketDao" />
		<property name="userManager" ref="userManager" />
	</bean>
	 -->
	
	<bean id="ticketAuthValidator" class="com.jdoilfield.ws.ticketauthservice.business.Validation">
		<property name="userManager" ref="userManager" />
	</bean>

	<!-- 
	<bean id="ticketAuthServiceImpl" class="com.jdoilfield.ws.ticketauthservice.impl.TicketAuthServiceImpl">
		<property name="ticketAuthManager" ref="ticketAuthManager" />
		<property name="validator" ref="ticketAuthValidator" />
	</bean>
	 -->

	<bean id="ticketAuthServiceManager" class="com.jdoilfield.ws.ticketauthservice.TicketAuthServiceManager">
		<property name="ticketAuthManager" ref="ticketAuthManager" />
		<property name="validator" ref="ticketAuthValidator" />
	</bean>
</beans>